.headerWrapper {
  padding: 0px;
  text-align: center;
  text-justify: center;
  color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #04a1e491;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: fit-content;
  max-height: 60px;
  align-items: center;
}
.headerWrapper > .leftSide {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  align-items: center;
  min-width: 250px;
  width: fit-content;
  /* flex-grow: 1;
  text-align: start necessary; */
}
.headerWrapper > .leftSide > .logo {
  padding: 0px;
  width: 92.55px;
  z-index: 2;
}
.headerWrapper > .leftSide > .title {
  padding: 0px;
  font-weight: bolder;
  color: #284294 necessary;
  font-size: 25px;
  width: max-content;
}
.headerWrapper > .rightSide {
  width: 30%;
  color: #284294;
  padding: 0px;
}
