/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  body {
    background: #212122;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  ::selection {
    background-color: #b38000;
  }
  
  .container {
    max-width: 350px;
    margin-inline: auto;
    width: 100%;
  }
  
  section {
    padding-block: 1.5rem;
    border-bottom: 1px solid #474767;
  }
  
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .d-none {
    display: none;
  }
  
  .auth-form,
  .todo-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  input {
    background-color: #2e2e36;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 1rem;
  }
  
  button {
    background-color: #b38000;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 600;
    color: #fff2e0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc960e;
  }
  
  #todos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  #todos > div {
    display: flex;
    background-color: #101014;
    border-radius: 6px;
  }
  
  #todos label {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    cursor: pointer;
    flex: 1;
  }
  #todos input {
    transform: scale(1.4);
    accent-color: #cc960e;
    margin-right: 0.5rem;
  }
  
  #todos span {
    background: rgba(255, 0, 0, 0.2);
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0d4ca;
    border-radius: 6px;
    cursor: pointer;
  }
  #todos span:hover {
    background: rgba(255, 0, 0, 0.3);
  }
  
  .auth-form + div {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .auth-form + div button {
    width: 100%;
  }
  
  #user p {
    padding: 0.75rem;
    background-color: #2e2e36;
    border-radius: 6px;
    margin-bottom: 0.5rem;
  }
  #user button {
    width: 100%;
  }
   */
/* 
.auth-wrapper {
  background: #212122;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 150px;
}

.auth-card {
  background-color: #2e2e36;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #56565663;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;

  background-color: #284294;
  color: #fff2e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0e84cb;
}

.welcome p {
  margin: 1rem 0;
  font-size: 1.1rem;
  background: #3a3a45;
  padding: 0.5rem;
  border-radius: 8px;
} */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@700&display=swap');

/* body {
    background: #e0e0e0;
} */

.login {
    width: 100vw;
    height: 90vh;
    padding: 10% 0 0;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
    border-radius: 50px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 400px;
    width: 35%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
}

.form>p {
    color: #284294;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.form input {
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
}

.form input:focus {
    background: #e0e0e0;
}

.form button {
    font-family: 'Rubik', sans-serif;
    font-family: 'Andika', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #284294;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:active {
    background: #284294;
}

.form button:hover {
    background: #1576c062;
}